  @import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
* {
    box-sizing: border-box;
}   

body {
    font-family: 'Handlee', cursive;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header h1 {
    text-align: center;
    font-size: 40px;
    color: white;
}

header {
    padding: 40px;
    background-color: #8661c1;
    font-family: 'Handlee', cursive;
}

nav {
    background-color: #2e294e;
    overflow: hidden;
    position: sticky;
    top:0px;
    display:flex;
    flex-direction: row;
}

nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
    transition: 500ms;
    transform: rotate(-360deg);

}

nav a:hover{
    color:#efbcd5;
    transform: rotate(360deg);
    transition: 500ms ease-in 0.1s;
}

main {
    background-color: white;
    text-align: center;
}

h2 {
    padding: 20px;
}

section:nth-child(even) {
    background-color: #be97c650;
}

section {
    min-height: 100vh;
}

video {
    padding: 10px;
}

iframe {
    height: 40vh;
    width: 75vh;
}

img {
    padding: 10px;
}

section h5 {
    margin: 40px;
}

footer {
    background-color:#2e294e57 ;
    overflow: hidden;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

section{
    padding-top:100px;
}

ul{
    padding: 0 200px 0;
}